{% extends "base.html" %}

{% block titulo %}
Posts
{% endblock titulo %}

{% block content %}

{% for post in posts %}

<div class="container">

	<div class="row">
		<div class="col s12 m6">
			<div class="card blue-grey lighten-3">
				<div class="card-content black-text">
					<span class="card-title">{{ post.titulo }}</span>
					<h6>Fecha de publicación: <span>{{ post.fechaPublicacion }}</span></h6>
					<p>{{ post.texto }}</p>
				</div>
				<div class="card-action">
					<a href="{% url 'detalles' pk=post.pk %}"  >Detalles</a>
					<a href="{% url 'modificar' pk=post.pk %}" >Editar</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endfor %}

{% endblock content %}