body{
	background-color: #F1F1F1;
}

h1{
	position: absolute;
	top: 50px;
	left: 100px;
}

.pos{
	position: relative;
	left: 100px;
	right: 100px;
	top: 100px;
	bottom: 100px;
	padding: 20px;
}

.pos1{
	position: fixed;
	left: 200px;
	right: 200px;
	top: 200px;
	bottom: 200px;
}

.pos2{
	position: inherit;
}